<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL__</string>
    <key>ProgramArguments</key>
    <array>
        <string>__PYTHON_BIN__</string>
        <string>-m</string>
        <string>tgf</string>
        <string>--headless</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__PROJECT_DIR__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
        <key>TGF_CHANNEL</key>
        <string>__CHANNEL__</string>
        <key>TGF_HOME</key>
        <string>__TGF_HOME__</string>
        <key>GLOG_minloglevel</key>
        <string>2</string>
        <key>TF_CPP_MIN_LOG_LEVEL</key>
        <string>3</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ThrottleInterval</key>
    <integer>30</integer>
    <key>ProcessType</key>
    <string>Background</string>
    <key>LowPriorityIO</key>
    <true/>
    <key>Nice</key>
    <integer>10</integer>
    <key>StandardOutPath</key>
    <string>__TGF_HOME__/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>__TGF_HOME__/stderr.log</string>
</dict>
</plist>
